<h2>Votre Gossip</h2>

<p><%= @gossip.content %></p>

<ul style="list-style: none"></ul>

<li>
<a href="<%= edit_gossip_path(params[:id]) %>">Editer le Gossip</a>
</li>

<li>
<a href="<%= gossips_path %>">Revenir à l'index</a>
</li>

<h2>Les commentaires</h2>
<ul>
<% @gossip.comments.each do |comment| %>
<li>
<%= comment.body %>
</li>
<% end %>
</ul>

<h2>Lâche ton com' !</h2>

<%= form_with url: gossip_comments_path(@gossip.id) do |form| %>

<%= form.label :anonymous_commentor %>
<%= form.text_field :anonymous_commentor %>

<%= form.label :body %>
<%= form.text_field :body %>

<%= form.submit %>

<% end %>
